<mat-toolbar color="primary">
  <span>lista de tareas</span>
</mat-toolbar>
<mat-card appearance="outlined">
  <mat-card-content>
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Palabra clave" #input>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="openAddEditTask()">Crear nueva tarea</button>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>


      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>


      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef> dueño </th>
        <td mat-cell *matCellDef="let element"> {{element.owner}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date:'short'}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon (click)="openAddEditTask(element.id)" class="btnEdit"  matTooltip="Editar tarea con id {{ element.id }}">edit</mat-icon>
          <mat-icon (click)="deleteTask(element.id)" class="btnDelete"  matTooltip="Eliminar tarea con id {{element.id}}">delete</mat-icon>
         </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </mat-card-content>
</mat-card>
